[submodule "vidsy-service-definitions"]
	path = vidsy-service-definitions
	url = git@github.com:MovAh13h/vidsy-service-definitions.git
[submodule "vidsy-q"]
	path = vidsy-q
	url = git@github.com:MovAh13h/vidsy-q.git
